@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "edwardian_script_itcregular";
  src: url("./assets/fonts/itcedscr-webfont.woff2") format("woff2"),
    url("./assets/fonts/itcedscr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* navbar started */
.navbar{
  background: rgba(255, 255, 255, 0.5);

  backdrop-filter: blur(2px);
}
/* navbar end */

/* background images started  */
.footer-background {
  background-image: url("/assets/image/footer/footer.webp");
}
.banner-background {
  background-image: url("/assets/image/banner/banner.png");
}
.banner-mobile-background{
    background-image: url("/assets/image/banner/mobile-banner.png");
}
.banner-shop {
  background-image: url("/assets/image/shop/shop-banner.svg");
}
.subscribe-banner{
  background-image: url("assets/image/shop/subscribe.webp");
}
.subscribe-banner-mobile{
  background-image: url("assets/image/shop/mobile-subscribe.webp");
}
.about-banner{
  background-image: url("assets/image/about/about-banner.webp");
}
.about-banner-mobile{
  background-image: url("assets/image/about/about-banner-mobile.webp");
}
/* background images started  */

.add-to-cart-btn::before {
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #004738;
  position: absolute;
  bottom: -14px;
  left: -14px;
  transition: all 0.3s linear;
  z-index: -1;
}
.add-to-cart-btn::after {
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #004738;
  position: absolute;
  top: -14px;
  right: -14px;
  transition: all 0.3s linear;
  z-index: -1;
}

.product-card:hover .add-to-cart-btn {
  color: white;
}
.product-card:hover .add-to-cart-btn::after {
  height: 400px;
  width: 400px;
  right: -40%;
  top: -30%;
}
.product-card:hover .add-to-cart-btn::before {
  height: 400px;
  width: 400px;
  left: -40%;
  bottom: -30%;
}

.banner-btn::before {
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #febb41;
  position: absolute;
  bottom: -14px;
  left: -14px;
  transition: all 0.3s linear;
  z-index: -1;
}
.banner-btn::after {
  content: "";
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #febb41;
  position: absolute;
  top: -14px;
  right: -14px;
  transition: all 0.3s linear;
  z-index: -1;
}

.product-card:hover .banner-btn {
  color: black;
}
.product-card:hover .banner-btn::after {
  height: 400px;
  width: 400px;
  right: -40%;
  top: -30%;
}
.product-card:hover .banner-btn::before {
  height: 400px;
  width: 400px;
  left: -40%;
  bottom: -30%;
}


.items img {
  width: calc(100% - 20px);
}

/* .grid-item{

} */



.swiper-pagination-bullets {
  bottom: -5% !important;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-success rounded-full
}


/* practice start  */
.tabbedPanels { width: 600px; 
  margin-top: 25px;
}

.panelContainer {
clear: left;
margin-bottom: 25px;
border: 2px solid green;	
background-color: #fff;
padding: 10px;
/* add height if you want equal panels */
}




/* reset ul defaults  */
.tabs {
margin: 0;
padding: 0;	
list-style: none;	
}

/* set li properties  */
.tabs li {
float: left;
width: 75px;
padding: 0;
margin: 0;
text-align: center;
}

/* all formatting goes inside 'a' */
.tabs a {
display: block;
text-decoration: none;
color: #fff;
font-weight: bold;
padding:  8px;
margin-right: 4px;  /* spaces out the tabs  */
border: 2px solid green;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
background-color: green;
margin-bottom: -2px;  /* negative margin will move it down
             to blend in with outer border  */
}


.tabs a.active {
border-bottom: 2px solid white;
background-color: #fff;
color: #000;
font-weight: bold;
}

.panel img {

margin-top: 10px;
}

.panel p  {

margin-bottom: 0px;
}

